<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="controller"/>

    <!--视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--包-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="utils.DateConverter"/>
            </set>
        </property>
    </bean>

    <!--文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/><!--10MB-->
    </bean>

    <!--异常处理器-->
    <bean id="sysExceptionResolver" class="exception.SysExceptionResolver"/>

    <!--开启SpringMVC注解支持-->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <!--要拦截的方法<mvc:exclude-mapping> 是不拦截的方法-->
            <mvc:mapping path="/hello/say"/>
            <!--拦截器-->
            <bean class="controller.interceptor.all"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--不拦截js文件夹下面-->
    <mvc:default-servlet-handler/>

</beans>